# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Build files
build/
dist/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.ps1
*.ico
*.png
*.json
*.txt
